<head>
<link href="<%= url('/stylesheets/style.css') %>" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet">
</head>
<body>
<h1>Instacrush</h1>
<h2>Who likes your pics?</h2>
<div style="display:none"><iframe src="https://instagram.com/accounts/logout/" width="0" height="0"></iframe></div>


<div class="main">



<a href="/new_user"><div class="heart"></div></a>


</div>

</body>