<h1>Your Instagram Secret Admirers!</h1>
<form action="http://localhost:9393/insta_crush">
    <input type="submit" value="New User">
</form>
<h5>Out of your last <%=@photo_count%> pictures</h5>
<% count = 1 %>
<% @like_hash.each do |name| %>

  
  <p><%= count %>: <%=name[0]%> => <%= name[1].to_s << " likes" %></p>
  <% count += 1 %>

<% end %>