<h1>Searching...</h1>
<h2 id="subheading">(you can't rush love, give us a bit)</h2>
<div class="heart"></div>
<div id="user_id" style="visibility:hidden;"><%= session[:guest_user_id]%></div>
<script>
    function calculateCrush (){
      var user_id = $('#user_id').text();
      $.post("/users/crush").always(function(){
          window.location = "/users/"+user_id
        }
      )
    };
    calculateCrush();
</script> 