body {
        font-family: 'Lato', serif;
        font-size: 2em;
      }

.heading {
    font-weight: 300;
    font-size: 2em;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -240px;
    margin-top: -150px;
    text-align: center;
    color: white;


}

.insta_result {
font-family: 'Lato';
   font-weight: bold;
    font-size: 2em;
    position: absolute;
    width: 10em;
    top: 42%;
    left: 50%;
    margin-left: -320px;
    margin-top: -150px;
    text-align: center;
    color: white;

}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13em;
    height: 8em;
    margin-left: -210px;
    margin-top: -150px;
    text-align: center;

}

h1 {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 3em;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 4em;
    height: 1em;
    margin-left: -210px;
    margin-top: -150px;
    text-align: center;
    color: white;
    

    
}

.welcomeheader {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 3em;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 4em;
    height: 1em;
    margin-left: -210px;
    margin-top: -150px;
    text-align: center;
    color: white;
  
}

.second{
font-family: 'Lato';
   font-weight: bold;
    font-size: .75em;
    position: absolute;
    width: 10em;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    margin-top: 40px;
    text-align: center;
    color: grey;
}

.like {
  font-family: 'Lato';
    font-weight: 300;
    font-size: 1em;
    position: absolute;
    top: 55%;
    left: 50%;
    width: 14em;
    height: 1em;
    margin-left: -225px;
    margin-top: -150px;
    text-align: center;
    color: gray;


}

.intro {
  font-family: 'Lato';
    font-weight: 300;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20em;
    height: 1em;
    margin-left: -310px;
    margin-top: -150px;
    text-align: center;
    color: gray;
  
}

h2 {
  font-family: 'Lato';
    font-weight: 300;
    font-size: 1em;
    position: absolute;
    top: 350px;
    left: 50%;
    width: 20em;
    height: 1em;
    margin-left: -310px;
    margin-top: -150px;
    text-align: center;
    color: gray;

}

.heart:hover + h4 {
    visibility: visible;
}



.main form{
    border:1px solid red;
    width:50%; 
    margin:0 auto;
    text-align:center;
}



body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, #160C23, #626A7B);
}



.heart {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 105px;
  height: 105px;
  margin: -52.5px 0 0 -52.5px;

}

/*.heart:hover::before {
  border-radius: 100%;
  opacity: 0;
}
*/
.heart::before {
  content: '';
  display: block;
  transition: all 10000ms;
  -webkit-animation: pulse 1.2s steps(1) infinite;
  width: 15px;
  height: 15px;
  margin: -15px 0 0 -15px;
  box-shadow: 30px 15px #8e1a19, 45px 15px #ac0500, 75px 15px #f73f0c, 90px 15px #fa5f27, 15px 30px #740100, 30px 30px #8e0500, 45px 30px #8e1918, 60px 30px #ca1300, 75px 30px #f34f2b, 90px 30px #df351f, 105px 30px #f77c2a, 15px 45px #4b0000, 30px 45px #690100, 45px 45px #8e0f0b, 60px 45px #bf1000, 75px 45px #f84010, 90px 45px #f04222, 105px 45px #fa5724, 15px 60px #451312, 30px 60px #5a0100, 45px 60px #840e0c, 60px 60px #a51d1a, 75px 60px #ed2805, 90px 60px #d9321e, 105px 60px #f44622, 30px 75px #3b0000, 45px 75px #5d1a1b, 60px 75px #8e1a19, 75px 75px #a80700, 90px 75px #b90a00, 45px 90px #3d0000, 60px 90px #551415, 75px 90px #670100, 60px 105px #340000;
}


@-webkit-keyframes pulse {
  50% {
    -webkit-filter: blur(1.4px);
    -webkit-transform: translate(-2px, 2px);
  }
}
